﻿@using UltricoBMI.Web.Resources
@model UltricoBMI.Web.Models.BMIs.BMISearchViewModel

@if (!this.Model.Results.Any())
{
    <div class="alert alert-info">@Labels.BMI_Search_NoResultsFound</div>
}
else
{
    
    <div><strong>Average BMI:@this.Model.AvgBMIValue</strong></div>
    <div><strong>Total results:@this.Model.TotalResultsCount</strong></div>
    
    
    <table id="claimSearchResultsTable" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BMI Value</th>
                <th>BMI Category</th>
                <th>BirthDate</th>
                <th>CreatedDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in this.Model.Results)
            {
                @Html.Partial("_BMISearchResultItem", item)
            }
        </tbody>
        @Html.DropDownListFor(m => m.Page, Model.PagesSelectList, new { id = "Pagination" })
    </table>
}