﻿@model UltricoBMI.Web.Models.BMIs.BMIViewModel

<tr data-bmi-id="@Model.BMIId" data-bmi-number="@Model.BMIId">
    <td><a href="@Url.Action("Display", "BMI", new {bmiId = @Model.BMIId})">@Model.BMIId</a></td>
    <td>@Model.Name</td>
    <td>@Model.Gender</td>

    <td>@Model.Weight</td>
    <td>@Model.Height</td>
    
    <th>@Model.BMIValue</th>
    <th>@Model.BMICategory</th>

    <td>@Model.BirthDate.ToShortDateString()</td>
    <td>@Model.CreatedDate.ToShortDateString()</td>
</tr>