﻿@using UltricoBMI.Web.Resources

@model UltricoBMI.Web.Models.BMIs.BMIViewModel

@{
    ViewBag.Title = Labels.BMI_New_Title;
}

@using (Html.BeginForm("Calculate", "BMI", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <legend>@Labels.BMI_New_Title</legend>

        @Html.Partial("_BMIForm", Model)

    </fieldset>    
            
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">@Labels.BMI_New_Calculate</button>
    </div>
}

<script type="text/javascript" src="~/Scripts/Application/BMI/BMIFormController.js"></script>
<script type="text/javascript">
    //init controller in view mode
    $(function () {
        var ctrl = new BMIFormController();
        ctrl.init();
    });
</script>
