﻿@*<div>
    @using (Html.BeginForm("Login", "Register", FormMethod.Post, new { @class = "form" }))
    {
        <fieldset>

            <legend>Please register</legend>

            <label for="username">Username</label>
            <div class="div_text">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input name="username" placeholder="Enter your username" />
                </div>
            </div>

            <label for="password">Password</label>
            <div class="div_text">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" name="password" placeholder="Enter your password" />
                </div>
            </div>

            <div class="button_div">
                <input type="submit" name="Submit" value="Register" class="btn btn-primary" />
            </div>

        </fieldset>
    }
</div>*@
