﻿@using UltricoBMI.Web.App_Start.Bundles

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>BMI Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @Styles.Render(BundlePaths.CSS.AllCSS)

    @Scripts.Render(BundlePaths.Scripts.JQuery)
    @Scripts.Render(BundlePaths.Scripts.Modernizer)
    @Scripts.Render(BundlePaths.Scripts.Bootstrap)

    @Scripts.Render(BundlePaths.Scripts.AllScripts)

</head>
<body>
    @Html.Partial("_MainMenu")

    <div class="container-fluid">
        <div class="row-fluid">
            <div>
                @RenderBody()
            </div>
        </div>
        <div class="row-fluid">
            <div>
                @Html.Partial("_Footer")
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            Application.setCulture("@System.Globalization.CultureInfo.CurrentCulture.ToString()");
            });
    </script>

    @Html.Partial("_Routes")
</body>
</html>
