﻿/* Use this styles file to override bootstrap styles */

body {
    padding: 60px 40px;
    
}

.navbar img {
    height:36px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 2px;
    float: left;   
}

.field-validation-valid {
    
}

.field-validation-error {
    color: red;
    font-weight: bold;
}

img.flag {
    height:auto;
    width: auto;
    margin-left: inherit;
    margin-right: 10px;
    margin-top: 4px;
    float: left;   
}

.panel-default {
    border-color: #DDDDDD;
}

.panel {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.panel-default > .panel-heading {
    background-color: #F5F5F5;
    border-color: #DDDDDD;
    color: #333333;
}

.panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}

.panel-body {
    padding: 15px;
}
