﻿@using UltricoBMI.Web.Infrastructure.Web
@model UltricoBMI.Web.Models.BMIs.BMISearchViewModel

@Html.BootstrapValidationSummary()

<div class="row-fluid">
    <div class="span2">
        <div class="control-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Gender)
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            @Html.LabelFor(m => m.BirthDateFrom, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.BirthDateFrom, "{0:d}", new { @class = "datepicker date" })
                @Html.ValidationMessageFor(m => m.BirthDateFrom)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.BirthDateTo, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.BirthDateTo, "{0:d}", new { @class = "datepicker date" })
                @Html.ValidationMessageFor(m => m.BirthDateTo)
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            @Html.LabelFor(m => m.HeightFrom, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.HeightFrom)
                @Html.ValidationMessageFor(m => m.HeightFrom)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.HeightTo, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.HeightTo)
                @Html.ValidationMessageFor(m => m.HeightTo)
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            @Html.LabelFor(m => m.WeightFrom, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.WeightFrom)
                @Html.ValidationMessageFor(m => m.WeightFrom)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.WeightTo, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.WeightTo)
                @Html.ValidationMessageFor(m => m.WeightTo)
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="control-group">
            @Html.LabelFor(m => m.CreatedDateFrom, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.CreatedDateFrom, "{0:d}", new { @class = "datepicker date" })
                @Html.ValidationMessageFor(m => m.CreatedDateFrom)
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.CreatedDateTo, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.CreatedDateTo, "{0:d}", new { @class = "datepicker date" })
                @Html.ValidationMessageFor(m => m.CreatedDateTo)
            </div>
        </div>
    </div>
</div>
