﻿@using UltricoBMI.Web.Infrastructure.Web
@model UltricoBMI.Web.Models.BMIs.BMIViewModel

@Html.HiddenFor(m => m.BMIId)

@Html.BootstrapValidationSummary()

<div class="controls-row">
    @Html.LabelFor(m => m.Name)
    <strong>@Html.DisplayFor(m => m.Name)</strong>
</div>
<div class="controls-row">
    @Html.LabelFor(m => m.BirthDate)
    @Html.DisplayFor(m => m.BirthDate, "{0:d}")
</div>

<div class="controls-row">
    @Html.LabelFor(m => m.Gender)
    @Html.DisplayFor(m => m.Gender)
</div>

<div class="controls-row">
    @Html.LabelFor(m => m.Gender)
    @Html.DisplayFor(m => m.Gender)
</div>

<div class="controls-row">
    @Html.LabelFor(m => m.Height)
    @Html.DisplayFor(m => m.Height)
</div>

<div>
    @Html.LabelFor(m => m.Weight)
    @Html.DisplayFor(m => m.Weight)
</div>

<div>
    @Html.LabelFor(m => m.UnitType)
    @Html.DisplayFor(m => m.UnitType)
</div>

<div>
    @Html.LabelFor(m => m.BMIValue)
    <strong>@Html.DisplayFor(m => m.BMIValue)</strong>
</div>

<div>
    @Html.LabelFor(m => m.BMICategory)
    <strong>@Html.DisplayFor(m => m.BMICategory)</strong>
</div>
