﻿
@model UltricoBMI.Web.Models.BMIs.BMIViewModel

@{
    ViewBag.Title = "View BMI details " + Model.BMIId;
}

<div>
    @Html.Partial("_BMIDetail", Model)
</div>

<script type="text/javascript" src="~/Scripts/Application/BMI/BMIFormController.js"></script>
<script type="text/javascript">
    //init controller in view mode
    $(function () {
        var ctrl = new BMIFormController();
        ctrl.init();
    });
</script>
