﻿@using System.Globalization
@using UltricoBMI.Web
@using UltricoBMI.Web.Models.Shared
@using UltricoBMI.Web.Resources

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            @*<a href="@Url.Action("Index", "Home")">@Labels.AppTitle</a>*@

            <p class="navbar-text pull-right">
                @string.Format(Labels.LoggedInAs, Security.CurrentUserName)
            </p>

            @Html.Partial("_LanguageSelector", new LanguageSelectorModel
            {
                SupportedCultures = new List<CultureInfo>
                {
                    new CultureInfo("en-GB"), 
                    new CultureInfo("pl-PL")
                }
            })
            
            <ul class="nav">
                <li><a href="@Url.Action("Index", "Home")">@Labels.Home_Title</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      @Labels.MainMenu_BMI
                      <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "BMI")">@Labels.BMI_Search_Title</a></li>
                        <li><a href="@Url.Action("NewBMI", "BMI")">@Labels.BMI_New_Title</a></li>
                    </ul>
                </li> 
                
            </ul>
        </div>
    </div>
</div>

