﻿<div>
    <div>
        <h5>BMI Calculator Ultrico Intro</h5>
        <p>Please Log in or calculate your BMI.</p>
        <p>This application was created for interview for Ultrico company.</p>
        <p>Here should be a dragons.</p>
    </div>
    
    <div>
        <h5>KnowIssues/ToDo:</h5>
        <ul>
            <li>UnitTests.</li>
        </ul>
    </div>
</div>