﻿@model UltricoBMI.Web.Models.BMIs.BMIViewModel

<tr data-bmi-id="@Model.BMIId" data-bmi-number="@Model.BMIId">
    <td>@Model.BMIId</td>
    <td>@Model.Name</td>
    <td>@Model.Gender</td>

    <td>@Model.Weight</td>
    <td>@Model.Height</td>
    <td>@Model.BirthDate.ToShortDateString()</td>
    <td>@Model.CreatedDate.ToShortDateString()</td>
</tr>