﻿@using UltricoBMI.Web.Resources
@model UltricoBMI.Web.Models.BMIs.BMISearchViewModel

@if (!Model.Results.Any())
{
    <div class="alert alert-info">@Labels.BMI_Search_NoResultsFound</div>
}
else
{
    <div>
        <div>Average BMI:@Model.AverageResultsBMI</div>
    </div>
    
    <table id="claimSearchResultsTable" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Weight</th>
                <th>Height</th>
                <th>BirthDate</th>
                <th>CreatedDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Results)
            {
                @Html.Partial("_BMISearchResultItem", item)
            }
        </tbody>
    </table>
}