﻿@using UltricoBMI.Web.Infrastructure.Web
@model UltricoBMI.Web.Models.BMIs.BMIViewModel

@Html.HiddenFor(m => m.BMIId)

@*@Html.BootstrapValidationSummary()*@

<div class="row-fluid">
    <div class="span6">
        <div class="control-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Name)
                @Html.ValidationMessageFor(m => m.Name)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.BirthDate, "{0:d}", new { @class = "datepicker date" })
                @Html.ValidationMessageFor(m => m.BirthDate)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Gender, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.Gender, Model.Genders)
                @Html.ValidationMessageFor(m => m.Gender)
            </div>
        </div>
    </div>
    <div class="span6">
        <div class="control-group">
            @Html.LabelFor(m => m.Height, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Height)
                @Html.ValidationMessageFor(m => m.Height)
            </div>
            In centimeters or inches
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.Weight, new { @class = "control-label" })
            <div class="controls">
                @Html.TextBoxFor(m => m.Weight)
                @Html.ValidationMessageFor(m => m.Weight)
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(m => m.UnitType, new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownListFor(m => m.UnitType, Model.UnitTypes)
                @Html.ValidationMessageFor(m => m.UnitType)
            </div>
        </div>
    </div>
</div>
