﻿@model UltricoBMI.Web.Models.BMIs.BMIViewModel

@Html.HiddenFor(m => m.BMIId)

@*@Html.BootstrapValidationSummary()*@

<span>
    @Html.LabelFor(m => m.Name)
    @Html.DisplayFor(m => m.Name)
</span>
<div>
    @Html.LabelFor(m => m.BirthDate)
    @Html.DisplayFor(m => m.BirthDate, "{0:d}")
</div>

<div>
    @Html.LabelFor(m => m.Gender)
    @Html.DisplayFor(m => m.Gender)
</div>

<div>
    @Html.LabelFor(m => m.Gender)
    @Html.DisplayFor(m => m.Gender)
</div>

<div>
    @Html.LabelFor(m => m.Height)
    @Html.DisplayFor(m => m.Height)
</div>

<div>
    @Html.LabelFor(m => m.Weight)
    @Html.DisplayFor(m => m.Weight)
</div>

<div>
    @Html.LabelFor(m => m.UnitType)
    @Html.DisplayFor(m => m.UnitType)
</div>

<div>
    @Html.LabelFor(m => m.BMIValue)
    @Html.DisplayFor(m => m.BMIValue)
</div>

<div>
    @Html.LabelFor(m => m.BMICategory)
    @Html.DisplayFor(m => m.BMICategory)
</div>
