﻿@using UltricoBMI.Web.Resources

@model UltricoBMI.Web.Models.BMIs.BMISearchViewModel

@{
    ViewBag.Title = Labels.BMI_Search_Title;
}

<div id="bmiSearch">
    @using (Html.BeginForm("Search", "BMI", FormMethod.Post, new { id = "BMISearchForm", @class = "form" }))
    {
        <fieldset>
            <legend>@Labels.BMI_Search_Title</legend>

            @Html.Partial("_BMISearchCriteria", Model)

            <div class="form-actions">
                <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i>Search</button>
                <button type="reset" class="btn">Reset</button>
            </div>
        </fieldset>
    }

    <div id="bmiSearchResults">
    </div>
</div>

<script src="~/Scripts/Application/BMI/BMISearchController.js"></script>
<script type="text/javascript">
    //init controller
    $(function () {
        var ctrl = new BMISearchController();
        ctrl.init();
    });
</script>
