﻿@using UltricoBMI.Web.Resources

@{
    ViewBag.Title = "Login";
}

<div class="offset4 span4">

    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form" }))
    {
        <fieldset>
            <legend>@Labels.Login_Login</legend>

            <label for="username">@Labels.Login_Username</label>
            <div class="div_text">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-user"></i></span>
                    <input name="login" type="text" id="login inputIcon" value="" class="username" />
                </div>
            </div>

            <label for="password">@Labels.Login_Password</label>
            <div class="div_text">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input name="pwd" type="password" id="pwd inputIcon" class="password" />
                </div>
            </div>

            @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)

            <div class="button_div">
                <input type="submit" name="Submit" value="@Labels.Login_Login" class="btn btn-primary" />
            </div>

        </fieldset>
    }

</div>
