﻿@model UltricoBMI.Web.Models.Shared.LanguageSelectorModel
@using UltricoBMI.Web.Infrastructure.Localization
@using UltricoBMI.Web.Resources

<ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @Labels.LanguageSelector_Language @Html.Flag(Model.CurrentCulture)
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu"  aria-labelledby="dLabel">
            @foreach (var culture in Model.SupportedCultures)
            {
                <li><a tabindex="-1" href="#" onclick="switchLanguage('@culture.Name')">@Html.Flag(culture) @culture.DisplayName</a></li>
            }
        </ul>
    </li>           
</ul>

<script type="text/javascript">

    function switchLanguage(langCode) {
        $.cookie('locale', langCode, { path: '/'});
        window.location.reload();
    }

</script>